@page "/counter/{InitialCount:int?}"
@page "/counter2"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCountAsync">Click me</button>

<p>InitialCount=@InitialCount</p>

<div>
    <input @oninput="OnInput">
    <p>@text</p>
</div>

<div style="background-color: lightblue;"
     @onmouseover="MouseOver"
     @onmouseout="MouseOut"
     >@divText</div>

@code {
    private int currentCount = 0;
    string text = "";
    string divText = "Mouse out";
    protected override void OnInitialized()
    {
        currentCount = InitialCount;
    }
    [Parameter]
    public int InitialCount { get; set; }
    private void IncrementCount()
    {
        currentCount++;
    }
    async Task IncrementCountAsync()
    {
        await Task.Delay(1000);
        currentCount++;
    }
    private void OnInput(ChangeEventArgs e)
    {
        text = e.Value.ToString();
    }
    private void MouseOver(MouseEventArgs e)
    {
        divText = "Mouse over";
    }
    private void MouseOut(MouseEventArgs e)
    {
        divText = "Mouse out";
    }
}
